VITE_OPENWEATHER_API_KEY=your_openweather_key_here
VITE_OPENWEATHER_UNITS=metric
VITE_FUNCTIONS_BASE=/.netlify/functions
VITE_MESSAGES_ACCESS_CODE=portfolio-admin
MESSAGES_ACCESS_CODE=portfolio-admin
